<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header -->
    <div class="containter-fluid main_haeder">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                     <!-- left side div -->
                     <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/person.jpg" alt="Maneesh" class="img-fluid" title="Maneesh technical">
                        </figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app</p>
                        <h1>I AM A <span class="text_clr"> FULL STACK DEVELOPER  </span> AND CODER</h1>
                        <a href="/weather"><button>about me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- footer code -->
    {{>footer}}
</body>
</html>